@model BazaFilmów.Models.Filmy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Filmy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4 class="control-label col-md-2">Tytuł</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tytuł, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tytuł, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2">Reżyser</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.reżyser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reżyser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2">Data premiery</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_premiery, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_premiery, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    
            @Html.ActionLink("Powrót do listy", "Index")
        
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
