@model BazaFilmów.Models.Filmy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Na pewno chcesz to usunąć ?</h3>
<div>
    <h4>Filmy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tytuł
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tytuł)
        </dd>

        <dt>
          Reżyser
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reżyser)
        </dd>

        <dt>
           Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_premiery)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
           
                
                    @Html.ActionLink("Powrót do listy", "Index")
                
        </div>
    }
</div>
